@use "../utils/index" as utils;
@use "sass:map";
.link-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 153px;
  height: 42px;
  color: utils.getColor("primary-white");
  border: 1px solid utils.getColor("primary-white");

  font-weight: 500;
  font-size: 18px;
  line-height: 22px;

  border-radius: 10px;
  transition:
    color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
  &:hover {
    background-color: utils.getColor("primary-white");
    color: utils.getColor("accent");
  }
}
