@use "../utils/variables" as utils;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a,
a:visited,
a:active {
  text-decoration: none;
}
li {
  list-style-type: none;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

a:focus-visible,
button:focus-visible {
  border: 1px solid utils.getColor("accent");
  outline: 1px solid utils.getColor("accent");
  outline-offset: 2px;
}
