@use "../utils/index" as utils;
@use "sass:map";
%link-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9.563rem; //153px
  height: 2.625rem; //42px
  color: utils.getColor("primary-white");
  border: 1px solid utils.getColor("primary-white");

  font-weight: 500;
  font-size: 1.125rem; //18px
  line-height: 1.375rem; //22px

  border-radius: 0.625rem; //10px
  transition:
    color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
  &:hover {
    background-color: utils.getColor("primary-white");
    color: utils.getColor("accent");
  }
}
.header {
  height: 64rem; //1024px

  display: flex;
  flex-direction: column;
  align-items: start;
  background-image: url("../../assets/images/mobile/intro-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top center;

  @include utils.screenSize("small") {
    background-image: url("../../assets/images/tablet/intro-bg.jpg");
  }
  @include utils.screenSize("large") {
    background-image: url("../../assets/images/desktop/intro-bg.jpg");
  }

  &__nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
    &--logo {
      font-size: 1.75rem;
      font-weight: 900;
      color: utils.getColor("primary-white");
      z-index: 3;
      transition: color 0.3s ease-in-out;
    }
    &--nav-list {
      display: none;
      position: fixed;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100vh;
      top: 0;
      left: 0;
      background-color: utils.getColor("primary-white");
      transition: background-color 0.3s ease-in-out;
      z-index: 2;

      &-item {
        margin-bottom: 2rem;
      }
      a {
        color: utils.getColor("primary-black");
        margin: 0;
        padding: 0;
        font-size: 1.25rem; //20px
      }

      @include utils.screenSize("large") {
        position: static;
        height: fit-content;
        background-color: transparent;
        display: flex;
        justify-content: end;
        flex-direction: row;
        align-items: center;

        a {
          color: utils.getColor("primary-white");
        }
        &-item {
          padding-left: 2rem; //32px
          margin-bottom: 0;
        }
      }
      &-item:last-of-type a {
        @extend %link-btn;
      }
    }
    &--burger {
      z-index: 3;
      display: flex;
      @include utils.screenSize("large") {
        display: none;
      }
      flex-direction: column;
      justify-content: space-between;
      width: 1.75rem; // 28px
      height: 1.188rem; //19px
      span {
        width: 100%;
        height: 3px;
        display: block;
        border-radius: 1rem;
        background-color: map.get(utils.$colorPalette, "primary-white");
        transition: background-color 0.3s ease-in-out;
      }
    }
  }
  &__intro {
    margin: auto 0;
    width: 100%;
    max-width: 748px;
    &--decor {
      display: block;
      width: 5.625rem; //90px
      height: 1rem; //16px
      background-color: utils.getColor("primary-white");
    }

    &--h1 {
      font-size: utils.getTextSize("mobile");
      @include utils.screenSize("small") {
        font-size: utils.getTextSize("tablet");
      }
      @include utils.screenSize("large") {
        font-size: utils.getTextSize("desktop");
      }
    }
    &--description {
      width: 100%;
      max-width: 33rem; //528px
      font-size: 1.125rem; //18px
      line-height: 1.875rem; //30px
      color: utils.getColor("primary-white");
    }
    &--link {
      @extend %link-btn;
    }
  }
}
