@use "../utils/index" as utils;
.main {
  &__reads {
    display: grid;
    grid-template-columns: 1fr;
    @include utils.screenSize("small") {
      grid-template-columns: 1fr 1fr;
    }
    @include utils.screenSize("extra-large") {
      grid-template-columns: 1fr 1fr 1fr;
    }
    gap: 1.5rem; //24px
    &--box {
      width: 100%;
      max-width: 26.188rem; //419px
      border-radius: 0.375rem; //6px
      overflow: hidden;

      border: 1px solid utils.getColor("grey");
      &-info {
        display: flex;
        flex-direction: column;
        .link {
          color: utils.getColor("фссуте");
          align-self: flex-end;
        }
      }
      img {
        display: block;
        width: 100%;
        height: auto;
        border-radius: 0.25rem; //4px
      }
    }
    &-date {
      color: utils.getColor("grey");
    }
  }
}

.anim {
  transform: scale(0.95);
  opacity: 0;
  transition: all 0.8s ease-in-out;
}
.anim.show {
  transform: scale(1);
  opacity: 1;
}
